<!-- callback-section*****************************************************begin -->
<section class="section callback-section">
  <h2 class="title">Оставьте заявку</h2>
  <div class="wrapper">
    <div class="content">

      <div class="content-img">
        <img src="../img/car_with_kran_filter_tush_blue_shadow.png" alt="car-thrash">
      </div>

      <form class="content-form">
        <h5>И мы Вам обязательно перезвоним</h5>
        <div class="content-form_group">
          <label for="name">Ваше имя:</label>
          <input type="text">
        </div>
        <div class="content-form_group">
          <label for="name">Организация:</label>
          <input type="text">
        </div>
        <div class="content-form_group">
          <label for="name">Номер телефона:</label>
          <input type="text">
        </div>
        <button class="btn btn-rounded btn-fill">Отправить</button>
      </form>

    </div>
  </div>
</section>
<!-- callback-section*****************************************************end -->