<!-- certificates-section*****************************************************begin -->
<section class="section certificates-section">
  <h2 class="title">Лицензии и сертификаты</h2>
  <div class="wrapper">
    <div class="certificates">

      <a href="#" class="certificate">
        <div class="certificate-img">
          <img src="../img/certificate.jpg" alt="certificate">
        </div>
        <div class="certificate-desc">
          <i class="fas fa-search-plus"></i>
          <span>Сертификат соответствия экологическим нормам</span>
        </div>
      </a><a href="#" class="certificate">
        <div class="certificate-img">
          <img src="../img/certificate_2.jpg" alt="certificate">
        </div>
        <div class="certificate-desc">
          <i class="fas fa-search-plus"></i>
          <span>Сертификат соответствия экологическим нормам</span>
        </div>
      </a><a href="#" class="certificate">
        <div class="certificate-img">
          <img src="../img/certificate.jpg" alt="certificate">
        </div>
        <div class="certificate-desc">
          <i class="fas fa-search-plus"></i>
          <span>Сертификат соответствия экологическим нормам</span>
        </div>
      </a>

    </div>
  </div>
</section>
<!-- certificates-section*****************************************************end -->