<!-- directions-section*****************************************************begin -->
<section class="section directions-section">
  <h2 class="title">Направления деятельности</h2>
  <div class="wrapper">
    <div class="directions">

      <div class="direction">
        <div class="direction-img">
          <img src="../img/monitor.svg" alt="monitor">
        </div>
        <span class="direction-line"></span>
        <span class="direction-desc">Утилизация офисной техники</span>
      </div>
      <div class="direction">
        <div class="direction-img">
          <img src="../img/car.svg" alt="car">
        </div>
        <span class="direction-line"></span>
        <span class="direction-desc">Утилизация транспортных средств</span>
      </div>
      <div class="direction">
        <div class="direction-img">
          <img src="../img/hospital.svg" alt="hospital">
        </div>
        <span class="direction-line"></span>
        <span class="direction-desc">Утилизация медицинского оборудования</span>
      </div>
      <div class="direction">
        <div class="direction-img">
          <img src="../img/tele.svg" alt="tele-radio">
        </div>
        <span class="direction-line"></span>
        <span class="direction-desc">Утилизация телекоммуникационного оборудования</span>
      </div>

    </div>
  </div>
</section>
<!-- directions-section*****************************************************end -->