<!-- footer*****************************************************begin -->
<footer class="footer">
  <div class="wrapper">
    <div class="footer-top">

      <a href="#" class="logo">
        <span class="black-text">GC</span>
        <span class="regular-text">Capital</span>
      </a>

      <nav class="nav">
        <div class="nav-menu">
          <a href="#" class="nav-link active">Главная</a>
          <a href="#" class="nav-link">О компании</a>
          <a href="#" class="nav-link">Услуги</a>
          <a href="#" class="nav-link">Гарантии</a>
          <a href="#" class="nav-link">Сертификаты</a>
          <a href="#" class="nav-link">Контакты</a>
        </div>
      </nav>

      <div class="footer-info">
        <div class="footer-info_item phone">
          <i class="fas fa-phone-square-alt"></i>
          <span>+7 921 06-60-60</span>
        </div>
        <div class="footer-info_item email">
          <i class="fas fa-envelope-open"></i>
          <span>gcCapital@mail.ru</span>
        </div>
        <div class="footer-info_item address">
          <i class="fas fa-map-marker-alt"></i>
          <span>пн. - пт. с 09:00 до 18:00<br />
            сб. - вс. выходные дни</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>2012 - 2020. ООО «Группа компаний «Капитал». Все права защищены.</p>
  </div>
</footer>
<!-- footer*****************************************************end -->