<header class="header">
  <div class="wrapper">
    <div class="header-info">
      <div class="header-logo">
        <a href="#" class="logo">
          <span class="black-text">GC</span>
          <span class="regular-text">Capital</span>
        </a>
      </div>
      <div class="header-item address">
        <i class="fas fa-map-marker-alt"></i>
        <span>Великий Новгород, ул. Нехинская, д. 55 б</span>
      </div>
      <div class="header-item email">
        <i class="fas fa-envelope-open"></i>
        <span>gcCapital@mail.ru</span>
      </div>
      <div class="header-item phone">
        <i class="fas fa-phone-square-alt"></i>
        <span>+7 921 06-60-60</span>
      </div>
      <div class="header-item call">
        <button class="modal-open btn btn-rounded btn-bordered">
          Заказать звонок
        </button>
      </div>
    </div>

  </div>
</header>