<div class="mobile-menu hidden">
  <nav class="mobile-menu_nav">
    <a href="#" class="nav-link active">Главная</a>
    <a href="#" class="nav-link">О компании</a>
    <a href="#" class="nav-link">Услуги</a>
    <a href="#" class="nav-link">Гарантии</a>
    <a href="#" class="nav-link">Сертификаты</a>
    <a href="#" class="nav-link">Контакты</a>
  </nav>

  <div class="mobile-menu_info">
    <div class="mobile-menu_item address">
      <i class="fas fa-map-marker-alt"></i>
      <span>Великий Новгород, ул. Нехинская, д. 55 б</span>
    </div>
    <div class="mobile-menu_item email">
      <i class="fas fa-envelope-open"></i>
      <span>gcCapital@mail.ru</span>
    </div>
    <div class="mobile-menu_item phone">
      <i class="fas fa-phone-square-alt"></i>
      <span>+7 921 06-60-60</span>
    </div>
  </div>

  <button class="modal-open btn btn-rounded btn-bordered">
    Заказать звонок
  </button>
</div>
<div class="header-burger">
  <span></span>
</div>