<div class="modal">
  <form action="#" class="modal-form">
    <h5>Оставьте заявку</h5>
    <div class="modal-form_group">
      <label for="name">Ваше имя:</label>
      <input type="text">
    </div>
    <div class="modal-form_group">
      <label for="name">Организация:</label>
      <input type="text">
    </div>
    <div class="modal-form_group">
      <label for="name">Номер телефона:</label>
      <input type="text">
    </div>
    <button class="btn btn-rounded btn-fill">Отправить</button>
    <span class="modal-close">&times;</span>
  </form>
</div>