<!-- top-section*****************************************************begin -->
<section class="section top-section">
  <div class="wrapper">
    <div class="content">
      <nav class="nav">
        <div class="nav-menu">
          <div class="nav-left">
            <a href="#" class="nav-link active">Главная</a>
            <a href="#" class="nav-link">О компании</a>
            <a href="#" class="nav-link">Услуги</a>
          </div>
          <div class="nav-right">
            <a href="#" class="nav-link">Гарантии</a>
            <a href="#" class="nav-link">Сертификаты</a>
            <a href="#" class="nav-link">Контакты</a>
          </div>
        </div>
        <div class="nav-logo">
          <a href="#" class="logo">
            <span class="black-text">GC</span>
            <span class="regular-text">Capital</span>
          </a>
        </div>
      </nav>

      <div class="content-info">
        <div class="main-desc">
          <h1>Списание и утилизация компьютерной и оргтехники</h1>
          <p>Списание основных средств</p>
          <button class="btn btn-rounded btn-fill">Подробнее</button>
        </div>
        <div class="img-wrap">
          <img class="main-img" src="../img/computerpile_filter_tush_blue2.png" alt="computer utils">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- top-section*****************************************************end -->