<!-- waranty-section*****************************************************begin -->
<section class="section waranties-section">

  <div class="wrapper">
    <h2 class="title">Наши гарантии</h2>
    <div class="waranties">

      <div class="waranty">
        <div class="waranty-img">
          <img src="../img/truck.svg" alt="truck">
        </div>
        <span class="waranty-line"></span>
        <span class="waranty-desc">Быстрый вывоз оборудования из любой точки России</span>
      </div>
      <div class="waranty">
        <div class="waranty-img">
          <img src="../img/document.svg" alt="document">
        </div>
        <span class="waranty-line"></span>
        <span class="waranty-desc">Акты списания для утилизации</span>
      </div>
      <div class="waranty">
        <div class="waranty-img">
          <img src="../img/licence.svg" alt="licence">
        </div>
        <span class="waranty-line"></span>
        <span class="waranty-desc">Наличие всех лицензий</span>
      </div>
      <div class="waranty">
        <div class="waranty-img">
          <img src="../img/law.svg" alt="law">
        </div>
        <span class="waranty-line"></span>
        <span class="waranty-desc">Строгое соблюдение закона</span>
      </div>

    </div>
  </div>
</section>
<!-- waranty-section*****************************************************end -->