//waranty-section*****************************************************begin
.waranties-section {
  text-align: left;
  @include md-block() {
    text-align: center;
  }
  .title {
    padding-left: 0;
    @include md-block() {
      padding-left: 20px;
    }
    &::after {
      left: 0;
      @include md-block() {
        left: 50%;
        transform: translateX(-50%);
      }
      transform: translateX(0);
    }
  }
  .waranties {
    @include row-flex;
    justify-content: center;
    .waranty {
      @include col;
      @include size(6);
      @include size-md(8);
      @include size-sm(10);
      @include size-xs(15);
      @include size-xxs(19);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 30px;
      min-height: 230px;
      border: 2px solid $dark-blue;
      background-color: $gray;
      overflow: hidden;
      @include md-block() {
        margin-bottom: 30px;
      }
      &:hover {
        &::before {
          left: -140px;
          top: -140px;
        }
        &::after {
          right: -140px;
          bottom: -140px;
        }
        .waranty-img {
          picture {
            transform: translateY(-15px);
          }
        }
        .waranty-line {
          box-shadow: 0px -20px 11px 0 rgba(0, 0, 0, 0.7);
        }
      }
      &::before,
      &::after {
        content: '';
        display: block;
        width: 200px;
        height: 200px;
        position: absolute;
        top: -175px;
        left: -175px;
        background-color: $dark-blue;
        transform: rotate(45deg);
        transition: left 0.2s ease, top 0.2s ease, bottom 0.2s ease, right 0.2s ease;
      }
      &::after {
        top: initial;
        left: initial;
        bottom: -175px;
        right: -175px;
      }
      &-img {
        width: 92px;
        height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        picture {
          position: relative;
          display: block;
          transition: transform 0.3s ease;
        }
      }
      &-line {
        width: 60px;
        height: 3px;
        position: absolute;
        top: 60%;
        left: 50%;
        box-shadow: 0px -20px 11px 0 rgba(0, 0, 0, 0);
        transition: box-shadow 0.3s ease;
        transform: translate(-50%, -50%);
        &::after {
          content: '';
          display: block;
          min-width: 100%;
          height: 3px;
          position: absolute;
          background-color: $blue;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &-desc {
        text-align: center;
        margin: auto 0px 0px 0px;
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
//waranty-section*****************************************************end
